#header{
    background: var(--cor-principal);
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 0 5vw;
    z-index: 10;
}
#logo{
    height: 8vh;
    border-radius: 25px;
    transition: 0.3s ease-in-out;
}

#logo:hover{
    background-color: var(--cor-secundaria);
}
#barra-pesquisa{
    width: 30vw;
    border-radius: 20px;
    outline: none; 
    padding: 2% 4%;
    padding-right: 50px;
    border: none;
    color: var(--cinza);
    background-color: var(--branco);
    background-size: 30px;
    background-image: url('/assets/images/icons/lupa-icon.png');
    background-repeat: no-repeat; 
    background-position: right 10px center; 
  
}
.categorias{
    display: flex;
    align-items: center;
    padding: 5px 20px;
    gap: 20px;
    border: var(--branco) 2px solid;
    font-family: var(--fonte-categorias);
    border-radius: 20px;
    color: var(--branco);
    box-shadow: 0 0 5px var(--preto);
   
   } 
.padrao{
    position: relative;
    display: flex;
    gap: 50px;
    cursor: pointer;

}
.padrao img{
    height: 20px;
    width: 20px;
    transition: transform 0.3s ease-in-out;
}


.dropdown{
  display: none;
 position: absolute;  
    top: 100%;
    left: 0;
    width: 100%;
  
}
#header>ul:hover .dropdown{
    display: block;

   
}
#header>ul:hover .categorias{
    background: var(--cor-secundaria);
    border-radius:  20px 20px 0 0;

}
#header>ul:hover .padrao img{
    transform: rotate(180deg);
 
}
.dropdown a{
    padding:  5px 5px 5px 20px;
    color: var(--branco);
    white-space: nowrap;
    display: flex;
    background-color: var(--cor-secundaria);
    border: 2px solid var(--branco);
    font-family: var(--fonte-categorias-light);
  

}
.ultimo-elem a{
    border-radius:  0 0 20px 20px;
}
.icon-perfil, .icon-carrinho{
    display: flex;
    align-items: center;
    padding: 10px 10px;
    gap: 5px;
    border-radius: 20px;
    background: var(--branco);
    font-family: var(--fonte-categorias);
    color: var(--preto);
    font-size: 1rem;
    transition: 0.3s ease-in-out;
    box-shadow: 0 0 5px var(--preto);
}
.icon-perfil img, .icon-carrinho img{
    height: 3vh;
}
.icon-carrinho{
    position: relative;
    border-radius: 50%;
}
.icon-carrinho p{
    position: absolute;
    right: -15%;
    top: -15%;
    padding: 2px 5px;
    text-align: center;
    background: var(--cor-contraste);
    color: var(--branco);
    font-weight: bold;
    font-size: 0.8rem;
    border-radius: 50%;
}
.buttons-nav{
    display: flex;
    gap: 5%;
}
.icon-carrinho:hover, .icon-perfil:hover{
    background: var(--cor-secundaria);

}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
@media (max-width : 1000px){
    html{
        font-size: 14px;
    }
    #header{
        height: 12vh;
    }
    
}
@media (max-width : 600px){
    html{
        font-size: 12px;
    }
}
