@font-face {
    font-family: 'Roboto';
    src:  local(Roboto), url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Rowdies';
    src:  local(Rowdies), url('../fonts/Rowdies/Rowdies-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Irish';
    src:  local(IrishGrover), url('../fonts/Irish_Grover/IrishGrover-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Rowdies-light';
    src:  local(Rowdies), url('../fonts/Rowdies/Rowdies-Light.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}
:root{
    --cor-principal: #7B00E5;
    --cor-secundaria: #BD9CF4;
    --cor-contraste: #FF630B;
    --branco: #ffffff;
    --preto: #000000;
    --cinza: #949494;
    


    --fonte-texto: 'Roboto', 'Arial', sans-serif;
    --fonte-titulo: 'Irish', 'Arial', sans-serif;
    --fonte-categorias: 'Rowdies',  'Arial', sans-serif;
    --fonte-categorias-light: 'Rowdies-light', 'Arial', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

    font-family: var(--fonte-texto), sans-serif;
    font-size: 1.125rem;

}
