body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
.formulario {
    width: 600px;
    margin: 50px auto;
    background-color: #f9ffec;
    border: 2px solid #c7e4b0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
label {
    display: block;
    margin-bottom: 5px;
}

fieldset {
    width: 95%;
    border: 2px solid lightgreen;
    padding: 10px;
    margin: 20px 0;
    background-color: #f0fff0;
}

legend {
    font-size: 1.17em; 
    font-weight: bold;
    color: green; 
    padding: 5px 10px; 
    border: 1px solid lightgreen; 
    border-radius: 5px; 
    background-color: #ffffff; 
}
input[type="text"],
input[type="email"],
select,
textarea {
    width: calc(100% - 10px);
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #c7e4b0;
    border-radius: 5px;
    background-color: #fff;
}
textarea {
    resize: none;
}
.faixa-etaria {
    margin-bottom: 20px;
}
.faixa-etaria .coluna {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.botoes {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.comentarios {
    background-color: #e4f4d0;
    border: 5px solid #c7e4b0;
    padding: 13px;
    border-radius: 10px;
}

input[type="submit"],
input[type="reset"] {
    background-color: #b0e4a0;
    color: #000000;
    padding: 10px 10px;
    border-radius: 52px;
    cursor: pointer;
}
input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #9cd48b;
}
input[type="submit"]:active,
input[type="reset"]:active {
    background-color: #88c779;
}

.part1 {
    display: flex; 
    justify-content: space-between; 
}

/*imagens */

.dados-pessoais, .localizacao, .faixa-etaria, .esportes {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
    opacity: 0.5; /
}
.formulario {
    background-image: url('backsus.jpeg');
}
.dados-pessoais {
    background-image: url('backsus.jpeg');
}
.localizacao {
    background-image: url('backsus.jpeg');
}
.faixa-etaria {
    background-image: url('backsus.jpeg');
}
.esportes {
    background-image: url('backsus.jpeg');
}

.formulario {
    background-position: 15px 15px;
    background-size: 70px 70px;
    padding-top: 60px;
    padding-left: 60px; 
}
.comentarios {
    display: flex;
    align-items: center; 
    gap: 10px;
}
.imagem-com {
    opacity: 0.5;
}

