main{
    display: flex;
    flex-direction: column;
    gap: 5vh;
    padding: 15vh 5vw 0 5vw;
}
#container-produtos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px;
    justify-content: space-between;
}
.produto{
    width: 300px;
    height: 400px;
    overflow: hidden;
    box-shadow: 0 0 5px var(--preto);
    border-radius: 7%;
  
}

.texto-produto{
    padding: 0 1vw;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    gap: 10px; 

}
.imagem-produto{
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.imagem-produto img{
    width: 100%;
    
}
.preco-produto{
    display: flex;
    justify-content: space-between;
}
.preco-produto p{
    font-family: var(--fonte-titulo);
    font-size: 1.3rem;
}
.preco-novo{
    color: var(--cor-principal);
}
.preco-antigo{
    color: var(--cinza);
    text-decoration:line-through;
}
.titulo-produto{
    color: var(--preto);
    font-family: var(--fonte-categorias);
    overflow: hidden;
    text-transform: uppercase;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}
.descricao-produto{
    overflow: hidden;
    height: 100px;
    color: var(--preto);
    text-align: justify;
}


/*-- Css das categorias --*/
#categorias-produtos .categorias-seletor{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.seletor p{
    display: flex;
    align-items: center;
    padding: 5px 20px;
    gap: 20px;
    border: var(--cor-principal) 2px solid;
    font-family: var(--fonte-categorias);
    border-radius: 10px;
    color: var(--cor-principal);
   
}
.seletor{
    position: relative;
    cursor: pointer;
}
.seletor img{
    height: 20px;
    transition: transform 0.3s ease-in-out;
}
.seletor:hover .cat-dropdown{
    display: block;

}
.seletor:hover p {
    border-radius:  10px 10px 0 0;
    
}
.seletor:hover img {
    transform: rotate(180deg);
    
}
.cat-dropdown{
    display: none;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;

}
.cat-dropdown li{
   
    padding:  5px 5px 5px 20px;
    color: var(--cor-principal);
    white-space: nowrap;
    display: flex;
    background: var(--branco);
    border: 2px solid var(--cor-principal);
    font-family: var(--fonte-categorias-light);
    font-size: 1rem;
}
.ultimo-elem{
    border-radius:  0 0 10px 10px;
}
.seletor-inicio {
    display: flex;
    align-items: center;
    padding: 5px 20px;
    font-family: var(--fonte-categorias);
    border-radius: 10px;
    color: var(--branco);
    background: var(--cor-principal);
    cursor: pointer;
}
.seletor-inicio:hover{
    background: var(--cor-secundaria);

}