

.barra-lateral {
  position: fixed;
  top: 10%;
  left: 0;
  width: 270px;
  height: 100vh;
  background-color: #ffffff;
  color: #000000;
  padding: 20px;
  overflow-y: auto;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
}



.barra-lateral a {
  /* pro link ficar clicavel e maiorzin bonitin */
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px 15px;
  border-radius: 4px;
  margin-bottom: 10px;
  transition: background-color 0.3s;
}

.barra-lateral a:hover {
  background-color: #555;
}


.corpo {
  padding-top: 10vh;
  margin-left: 250px;
  padding: 20px;
  overflow-x: hidden;
  margin-bottom: 100px; 
}

.informaçoes1, .informaçoes2, .informaçoes3 {
  position: relative;
  width: 100vw;
  background-color: #d3bfe88a;
  background-size: cover;
  background-position: center;
  margin-inline: 0;
  margin-right: 0;
  margin-left: 0;
  display: flex;
  justify-content: space-between;
}


.subtitulo {
  position: relative; 
  width: 100vw; 
  background-color: #a877dd8a; 
  background-size: cover; 
  background-attachment: fixed; 
  margin-inline: 0;
  margin-right: 0;
  margin-left: 0;
  color: #ffffff; 
  padding: 20px;
}

.subtitulo p {
  position: relative; 
  left: -10px; 
}

.informaçoes1 p {
  position: relative; 
  left: -613px ; 
  
}
.informaçoes2 p {
  position: relative; 
  left: -402px ; 

}
.informaçoes3 p {
  position: relative; 
  left: -337px ; 
 
}





.botao {
  width: 250px;        
  height: 50px;
  background-color: #422151; 
  color: white; 
  border: none; 
  padding: 10px 20px; 
  border-radius: 35px; 
  cursor: pointer; 
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  position: relative;
  left: 500px;
}

.botao2, .botao3 {
  width: 250px;        
  height: 50px;
  background-color: #422151;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 35px;
  cursor: pointer;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
  position: relative;
  top: 20px;
}

.botao2 {
  left: 250px; 
}

.botao3 {
  right: 250px; 
}

.container {
  display: flex;
  justify-content: space-between;
}
