
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

#perfil {
 width: 10vh;;
  height: 10vh;
 border-radius: 50%;
 border: 3px solid black;
}

.barra-lateral {
  position: fixed;
  top: 10vh;
  left: 0;
  width: 35vh;
  height: 100vh;
  background-color: #ffffff;
  color: #000000;
  padding: 20px;
  overflow-y: auto;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
  z-index: 10;
}



.barra-lateral a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  display: block;
  padding: 10px 15px;
  border-radius: 4px;
  margin-bottom: 10px;
  transition: background-color 0.3s;
}

.barra-lateral ::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
  height: 100%;
  background-color: transparent; 
  transition: background-color 0.3s ease;
}

.barra-lateral a:hover::before {
  background-color: #8a0bbc;
}

.barra-lateral a:hover {
  transform: translateX(10px);
}

.corpo {
 margin-left: 35vh;
 margin-bottom: 10vh;
}

.informaçoes {
  width: 100vw;
  background-color: #d3bfe88a;
}

.informaçoes p{
  margin-left: 2%;
}



.subtitulo {
  width: 100vw; 
  background-color: #a877dd8a; 
  margin-inline: 0;
  margin-right: 0;
  margin-left: 0;
  color: #ffffff; 
  padding: 2vh;
}

.subtitulo h2 {
  margin-left: 1%;
}



.botao {
  width: 250px;        
  height: 50px;
  background-color: #7B00E5; 
  color: white; 
  border: none; 
  padding: 10px 20px; 
  border-radius: 35px; 
  cursor: pointer; 
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  position: relative;
  left: 40%;
}

.botao2, .botao3 {
  width: 250px;        
  height: 50px;
  background-color: #7B00E5;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 35px;
  cursor: pointer;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
  position: relative;
  top: 20px;
}

.botao2 {
  left: 30vh; 
}

.botao3 {
  right: 30vh; 
}

.container {
  display: flex;
  justify-content: space-between;
}

#entrada, #entrada2, #entrada3 {
  display: none;
  font-size: inherit; 
  border: none; 
  padding: 0; 
  margin: 0; 
  width: auto; 
  outline: none; 
  background: transparent; 
  margin-left: 2%
}

#entrada4 {
 display: none;
}